:root {
--mainwidth:90vw;
--mainmargin:calc((100vw - var(--mainwidth))/2);
--mobilemainwidth:95vw;
--mobilemargin:calc((100vw - var(--mobilemainwidth))/2);	
}

@font-face {
	font-family: 'PolySans-Slim';
	src: url('../fonts/PolySans-Slim.otf');
}

@font-face {
	font-family: 'PolySans-Neutral';
	src: url('../fonts/PolySans-Neutral.otf');
}

@font-face {
	font-family: 'PolySans-Median';
	src: url('../fonts/PolySans-Median.otf');
}

@font-face {
	font-family: 'PolySans-Bulky';
	src: url('../fonts/PolySans-Bulky.otf');
}

html {
	overflow-x:hidden;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: PolySans-Slim;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
	line-height: 1;
	font-family: 'PolySans-Slim';  
	font-size:1.5em;
	background: black;
	/* background: linear-gradient(70deg, rgb(109 20 105) 0%, rgb(231 80 226) 69%, rgb(26 218 237) 100%); */
	color:#f0f0f0;
	overflow:hidden;
}

.pagevideo {
	width:var(--mainwidth);
}

.ytembed {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	margin-bottom:2vh;
}

.ytvideo {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.lffdategrid {
	padding-top:2vh;
	display:flex;
	flex-wrap: wrap;
    width: var(--mainwidth);
	justify-content: space-between;
}

.lffdate {
	position:relative;
	margin-bottom: 4vh;
}

.lffdatebg {
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
}

.lffdatetitle {
    position: absolute;
    top: 0;
    text-align: center;
    width: 80%;
    font-size: 1.7em;
    margin-left: 10%;
    margin-right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lffdatelabel {
	width:100%;
	text-align:center;
}
.lffdatelogo {
	height:0.7em;
}

.welcomebanner {
	    background-image: url(https://www.leedsfirstfriday.com/app/images/lff_bg1.webp);
		background-repeat: no-repeat;
		background-size:var(--mainwidth);
		padding:2vw;
		position:relative;
		height:40vh;
}

.welcometext {
	font-size:0.8em;
}

.welcomebig {
    font-size: 20vw;
    font-family: 'PolySans-Bulky';
	letter-spacing:-0.7vw;
	position: absolute;
	top: 2vh;
}

.welcomelogosmall {
   position: absolute;
    /* left: 5vw; */
	width:6vw;
    bottom: 2vh;
    right: 2vw;
}

.welcomeblurb {
    position: absolute;
    bottom: 2vh;
    font-size: 0.8em;
	max-width:75vw;
}

.scrolled.fade-in {
  animation: fade-in 500ms ease-in-out both;
}
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 500ms ease-in-out both;
}
.scrolled.slide-left {
  animation: slide-in-left 500ms ease-in-out both;
}
.scrolled.slide-right {
  animation: slide-in-right 500ms ease-in-out both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
	
.js-scroll {
	opacity:0;
	
	/* transition: margin-left 1000ms, opacity 500ms; */
}

.js-scroll.scrolled {
	opacity:1;
	margin-left:0;
}

.navigation {
	top:0;
	left:0;
	position:fixed;
	z-index:99;
	/* background:rgba(255,255,0,1); */
	color: black;
	width:100%;
	min-height:100vh;
	display: none;
	pointer-events:auto;
	  background-color: rgb(255 255 0 / 80%);
  backdrop-filter: blur(20px);
	
}

.navopen {
	display:block;
	overflow-y:auto;
	height:100vh;
}

.fortyfivedeg {
	rotate:45deg;
}

.navoverlay {
display:hidden;
height:100vh;
overflow-y:hidden;	
}

.scrollstop {
	overflow: hidden;	
}

.navcontainer {
	margin: 2vh 2vh 2vh 2vh;
}

.navcatcontainer {
	margin-left:2vw;
}

.navcattitle {
	margin: 2vh 0 0 0;
	color: #888;
	font-size:0.75em;
}

ul.navcategory {
	
}

.navitem {
	margin: 2vh 0vw;
	
}

.navitem a{
	color:#555;
	text-decoration:none;
	font-size:1em;
}

.navclose {
	position:fixed;
	top:20px;
	right:40px;
	z-index:99999;
	display:none;
	color:black;
}

.megabanner {
    font-family: 'PolySans-Bulky';
    font-size: 14vw;
}

.gridtext {
	width:23vw;
}

.gridevent {
    background: rgba(0, 0, 0, 0.2);
    padding-bottom: 1vh;
    border-radius: 10px;
    border: solid 1px #f0f;
    margin-top: 2vh;
}

.serviceicons {
	margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 1.75em;
}

.main {
	position:relative;
	top: 100px;
	padding-bottom:5vh;
}

article {
	font-family: 'PolySans-Slim';
	font-size: 1em;
}

.article-col{
	display:flex;
	flex-direction: row-reverse;
}

.articlecoverimage {
	width:100%;
}

.pagetext {
   /* padding: 0 0vw 0 2vw; */
	/* font-size:1.4em; */
}

ol, ul {
  list-style: none; }
 
a {
  /* text-decoration:none; */
  color:#fff;
  }

 .eventimg {
	 width:10vw;
	 border-radius:10px;
 }
 
 .container {
	padding-bottom:5vh;
	width:var(--mainwidth);
	margin-left: auto;
    margin-right: auto;
 }
 
 .siteheader { 
	/* width:var(--mainwidth); */
	/* margin-left:var(--mainmargin); */
	width: 100vw;
	height:100px;
	position:fixed;
	padding-top: 1vh;
	padding-bottom: 1vh;
	top:0;
	transition: top 0.2s ease-in-out;
	background:rgba(0,0,0,0.75);
	z-index:10;
 }
 
 .siteheader.hide {
	 top:-120px;
 }
 
.sitelogo { 
	height:100px;
	/* margin-left:var(--mainmargin); */
}

.coverimage { 
	width:90vw; 
	margin-bottom:2vh;
}
 
.headerlinks {
	position: absolute;
    right: 0;
    top: .5vh;
}

.headerlink {
	font-size:1.5em;
	margin-top:30px;
}

p {
	padding: 1vh 0;
}

.fullwidth {
    width: var(--mainwidth);
}

h1 { font-size: 1.75em; color:white; margin-bottom:2vh; padding:1vh; }

h2 { 
	font-size: 1.2em; 
	padding:1vh;
	color: white; 
}

h3 { font-size: 3em;
	padding:1vh;
	color: white; 
	}
	
h3 a {
	text-decoration:none;
}
	
h4 { 
	font-size: 1.2em;
}

h5 {
	padding:1vh 0;
}
	
.gallery {
	display:flex;
	width:90vw;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gridtexttitle {
	/* font-size:1.5em; */
	font-family: 'PolySans-Bulky';
}

.gridinnertext {
	padding: 1vh 1vw;
	max-width: 23vw;
}

.gallery2 {
	display:flex;
	/* width:90vw; */
	flex-wrap: wrap;
	justify-content: space-between;
}

.galleryitem {
	display:block;
	text-align:center;
}

.galleryimg {
	width:23vw;
	border-radius:10px;
}
	
.gallerytitle {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-size: 1.2em;
    top: -3vw;
    position: relative;
    padding: 1vw;
    max-width: 23vw;
    /* width: 50%; */
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
	
.eventtext {
    font-size: .65em;
    font-family: 'PolySans-Slim';
    margin-left: .5em;
    width: 20vw;
    height: 100px;
}
	
.swiper-slide {
	max-width: 20vw;
}

.lffeventslider {
	margin-top:5vh;
	max-width:90vw;
	/* display:flex; */
	margin-bottom:3vh;
	position:relative;
}
	
.slidertitle {
	width: 5em;
	height: 10vw;
	position: absolute;
	z-index: 5;
	padding-top: 1vw;
	padding-left:1vw;
	background: linear-gradient(90deg, #f0f 50%, hsla(0, 0%, 100%, 0));
	color:white;
}

.lffevent {
	display:flex;
}

.firstslide {
	max-width:10vw;
}

.slidernavbtn {
	font-size:1.5em;
}

.sliderbtns {
	display:flex;
	margin-top:1vh;
}

.lffnextbtn {
	margin-left:1em;
}

.swiper-button-disabled {
	opacity:0.5;
}

.lffeventtitle {
	font-family:'PolySans-Bulky';
}
	
.footer {
	margin-top:10vh;
	width:100vw;
	background: #151515;
	padding-top:10vh;
	padding-bottom:10vh;
}

.footerexplain {
	width:var(--mainwidth);
	margin-left:auto;
	margin-right:auto;
	color:#aaa;
	margin-top:4vh;
	text-align:center;
}

.linkbox {
	display:flex;
	    justify-content: center;
}

.socialbox {
	margin-left:10vw;
	margin-right:auto;
}

.socialtitle {
	color: white;
	font-size:2em;
}

.sociallinks {
	display:flex;
}
	
.sociallink {
	padding-top: 2vh;
    color: #fff;
    display: block;
    font-size: 2em;
    height: 100%;
    justify-content: center;
    letter-spacing: 0;
    line-height: 4rem;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 10;
    opacity: 0.5;
	text-align:center;
	}
	
.sociallink:hover {
	opacity:1;
}


article {
	margin-top:2vh;
	margin-bottom:2vh;
	font-size: .75em;
}

.middlecol {
	width:50%;
}

.lastcol { 
	width:25%;
	padding:1vh;
}

.firstcol {
width:25%;
min-width:25vw;
}

.articletaglist {
	display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 1vh;
    flex-direction: column;
}

.articletag {
    padding: .5em;
    color: yellow;
    border-radius: 10px;
    position: relative;
    text-transform: uppercase;
	margin-top:1vh;
	display: flex;
	justify-content:center;
	align-content:center;
	background:#000;
	background-clip: padding-box; /* !importanté */
	border: solid 2px transparent; /* !importanté */
}

 .articletag:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 200%;
	animation: gradient 15s ease infinite;
  }
.articletag a {
	text-decoration:none;
	text-transform:uppercase;
	font-size:0.75em;
}

ul.sociallinks {
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
	width:60vw;
}

ul.sociallinks:first-child {
	margin-left:0;
}

ul.headerlinks {
	display: flex;
    right: var(--mainmargin);
}

.jt {
	color:#555;
	margin-top:10vh;
	font-size:0.5em;
	margin-left:10vw;
}

.lffmap {
	margin-top:0;
}

.lffmapimg {
	width: 90vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sitelogo { 
	margin-left:var(--mobilemargin);
}

ul.headerlinks {
	margin-right:var(--mobilemargin);
}

  .article-col {
	  display:block;
	width:var(--mobilemainwidth);
	margin-left:calc((100vw - var(--mobilemainwidth))/2);
	margin-right:calc((100vw - var(--mobilemainwidth))/2);
	overflow-wrap:break-word;
  }
  
.lastcol {
  display:flex;
  flex-direction:column;
	width:100%;
}

.articleinfotext {
	/*width:100%;*/
}
	
	.middlecol {
		width:var(--mobilemainwidth);
	}
	
.articletags {
	display:inline-block;
}

.articletaglist {
flex-direction:row;
}

.articletag {
	margin-right:0.75em;
}

.lffdategrid {
	width:var(--mobilemainwidth); 

}

  .articlecoverimage {
	  width:var(--mobilemainwidth);
  }
  
  .welcomebanner {
	  background-size:100% 100%;
	  height: 22vh;
	  max-width:var(--mobilemainwidth);
}

.welcomebig {
	font-size:22vw;
	top:4vh;
}

.welcomeblurb {
	font-size: 0.8em;
	padding-top:2vh;
	max-width:75vw;
}

.welcomelogosmall {
	width: 12vw;
    position: absolute;
    bottom:1vh;
}

.welcometext {
	font-size:0.6em;
}

  .megabanner {
    font-size: 23vw;
}

h3 {
	font-size:2em;
}

  .swiper-slide {
	  max-width:50vw;
}

.lffmapimg {
	width:var(--mobilemainwidth);
}

.container {
	width:100vw;
}

.content {
	width:var(--mobilemainwidth);
	margin-left:var(--mobilemargin);
	margin-right:var(--mobilemargin);
	overflow-wrap:break-word;
}

.gallery {
	width:var(--mobilemainwidth);
	/* margin-left:var(--mobilemargin); */
}

.galleryimg {
	width:var(--mobilemainwidth);;
}

.gridtext {
	width:var(--mobilemainwidth);;
}

.gallerytitle {
	max-width:var(--mobilemainwidth);
	top: -4.4vh;
}
.coverimage {
	width:100vw;
}

.linkbox {
	text-align:center;
}

.socialtitle {
	font-size:1.5em;
}

ul.sociallinks {
	width:100vw;
    font-size: 2em;
}
.sociallink {
	font-size:.75em;
}
.lffeventslider {
	max-width:100vw;
}

.firstslide {
	max-width:20vw!important;
}

.slidertitle {
	height:110px;
}

.eventimg {
	width:110px;
}

.pagetext {
	width:var(--mobilemainwidth);
	/* margin-left:calc((100vw - var(--mobilemainwidth))/2); */
	font-size:1.2em;
}

.singlepagetext {
	width:var(--mobilemainwidth);
	 margin-left:var(--mobilemargin);
}

.lffdate {
	width:var(--mobilemainwidth);
}

.lffdatebg {
	width:var(--mobilemainwidth);
	height:var(--mobilemainwidth);
 
}
.articleinfo {
	width: var(--mobilemainwidth);
	margin-left: var(--mobilemargin);

}

.postcattitle {
	margin-left: var(--mobilemargin);
}

.gridinnertext {
	max-width:90vw;
	text-align:center;
}

section {
	flex-wrap:wrap;
}

.pageleft {
	width:var(--mobilemainwidth);
}

.pageleft > img {
	width:100vw!important;
}

.pageright {
	width:var(--mobilemainwidth);
}
}